<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
    }
    :root{
        --header_width: 15%; 
    }
    header{
        width: var(--header_width);
        height: 100vh;

        background-color: blue;

        position: fixed;
    }
    main{
        margin-left: var(--header_width);
    }
    header a{
        font-size: 20px;
        display: block;
        color: #fff;
        text-decoration: none;
        margin: 30px 0;
    }
</style>
<body>

    <header>
        <a href="/dashboard/equipe">
            equipe
        </a>
        <a href="/dashboard/programas">
            programas
        </a>
        <a href="/dashboard/autores">
            autores
        </a>
        <a href="/dashboard/noticias">
            notícias
        </a>
        <a href="/dashboard/artistas">
            artistas
        </a>
        <a href="/dashboard/top20">
            top20
        </a>
        <a href="/dashboard/contato">
            contato
        </a>
        <a href="/dashboard/pedir-musica">
            pedir música
        </a>
    </header>
    
