<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class="current"><a href="/dashboard/"><i class="glyphicon glyphicon-home"></i>Painel de Controle</a></li>
            <li><a href="/dashboard/administradores"><i class="glyphicon glyphicon-user"></i>Administradores</a></li>
            <li><a href="/dashboard/equipe"><i class="glyphicon glyphicon-user"></i>Equipe</a></li>
            <li><a href="/dashboard/programas"><i class="glyphicon glyphicon-calendar"></i>Programação</a></li>
            <li><a href="/dashboard/autores"><i class="glyphicon glyphicon-list"></i>Autores</a></li>
            <li><a href="/dashboard/noticias"><i class="glyphicon glyphicon-list"></i>Notícias</a></li>
            <li><a href="/dashboard/artistas"><i class="glyphicon glyphicon-star"></i>Artistas</a></li>
            <li><a href="/dashboard/musicas"><i class="glyphicon glyphicon-music"></i>Músicas</a></li>
            <li><a href="/dashboard/top20"><i class="glyphicon glyphicon-headphones"></i>TOP20</a></li>
            <li><a href="/dashboard/pedidos-musicais"><i class="glyphicon glyphicon-envelope"></i>Pedidos musicais</a></li>
            <li><a href="/dashboard/contato"><i class="glyphicon glyphicon-comment"></i>Contato</a></li>
            <li><a href="/dashboard/sair"><i class="glyphicon glyphicon-off"></i>Sair</a></li>
        </ul>
    </div>
</div>