<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<section class="background-banner-color">
    <div class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">Programação</h2>
            <hr class="border" />
            <p class="description-text-banner"> Fique ligado(a) na programação da Canal Um F.M! Esporte, notícias, entreterimento para todos os cidadãos a qualquer momento do dia ou noite! Só a Canal Um oferece uma programação tão vasta para seus ouvintes com compromisso e seriedade!
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo-jpgpr" src="img/podcast.svg" alt="Homem escutando música" />
        </div>
    </div>
</section>
<main class="wrapper-section">

    <section>
        <h2 class="title"> Manhã</h2>
        <hr class="border">
        <div class="content">

            <div class="container-timeline">
                <div th:each="programa : ${programas}" th:switch="${programa.periodo}">
                    <div th:case="'Matutino'" class="content-timeline color2">
                        <h2 th:text="${programa.name}"></h2>
                        <p th:text="${programa.horario}"></p>
                        <p>
                            <span th:text="${programa.equipe.funcao} + ': '"></span>
                            <span th:text="${programa.equipe.name}"></span>
                        </p>
                        <p th:text="'Estilo: ' + ${programa.estilo}"></p>
                        <p th:text="'Segmentação: ' + ${programa.segmentacao}"></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- programação de tarde -->
    <section>
        <h2 class="title"> Tarde</h2>
        <hr class="border">
        <div class="content">

            <div class="container-timeline">
                <div th:each="programa : ${programas}" th:switch="${programa.periodo}">
                    <div th:case="'Vespertino'" class="content-timeline color2">
                        <h2 th:text="${programa.name}"></h2>
                        <p th:text="${programa.horario}"></p>
                        <p>
                            <span th:text="${programa.equipe.funcao} + ': '"></span>
                            <span th:text="${programa.equipe.name}"></span>
                        </p>
                        <p th:text="'Estilo: ' + ${programa.estilo}"></p>
                        <p th:text="'Segmentação: ' + ${programa.segmentacao}"></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- programação de noite -->
    <section>
        <h2 class="title"> Noite</h2>
        <hr class="border">
        <div class="content">
            <div class="container-timeline">
                <div th:each="programa : ${programas}" th:switch="${programa.periodo}">
                    <div th:case="'Noturno'" class="content-timeline color2">
                        <h2 th:text="${programa.name}"></h2>
                        <p th:text="${programa.horario}"></p>
                        <p>
                            <span th:text="${programa.equipe.funcao} + ': '"></span>
                            <span th:text="${programa.equipe.name}"></span>
                        </p>
                        <p th:text="'Estilo: ' + ${programa.estilo}"></p>
                        <p th:text="'Segmentação: ' + ${programa.segmentacao}"></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- programação mais tarde da noite -->
    <section>
        <h2 class="title"> Madrugada</h2>
        <hr class="border">
        <div class="content">
            <div class="container-timeline">
                <div th:each="programa : ${programas}" th:switch="${programa.periodo}">
                    <div th:case="'Madrugada'" class="content-timeline color2">
                        <h2 th:text="${programa.name}"></h2>
                        <p th:text="${programa.horario}"></p>
                        <p>
                            <span th:text="${programa.equipe.funcao} + ': '"></span>
                            <span th:text="${programa.equipe.name}"></span>
                        </p>
                        <p th:text="'Estilo: ' + ${programa.estilo}"></p>
                        <p th:text="'Segmentação: ' + ${programa.segmentacao}"></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


