<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<section class="background-banner-color">
    <div class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">Programação</h2>
            <hr class="border" />
            <p class="description-text-banner"> Fique ligado(a) na programação da Canal Um F.M! Esporte, notícias, entreterimento para todos os cidadãos a qualquer momento do dia ou noite! Só a Canal Um oferece uma programação tão vasta para seus ouvintes com compromisso e seriedade!
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo-jpgpr" src="img/podcast.svg" alt="Homem escutando música" />
        </div>
    </div>
</section>
<main class="wrapper-section">

    <section>
        <h2 class="title"> Manhã</h2>
        <hr class="border">
        <div class="content">

            <div class="container-timeline">
                <div class="content-timeline color2">
                    <h2> Canal Um - É Notícia! </h2>
                    <p>Segunda á sexta-feira às 07h00 á 08h30</p>
                    <p>Locutor: Edson Cândido</p>
                    <p>Estilo: Noticiário/Informativo</p>
                    <p>Segmentação: Adulto</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Manhã Alto Astral </h2>
                    <p>Segunda á sexta-feira às 08h30 á 11h30</p>
                    <p>Locutor: Delcimar Guissoni</p>
                    <p>Estilo: TOP 40 Nacional e Internacional</p>
                    <p>Segmentação: Livre</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Canal Um - É Notícia (2º Edição)! </h2>
                    <p>Segunda á sexta-feira às 11h30 á 13h00</p>
                    <p>Locutor: Edson Cândido</p>
                    <p>Estilo: Noticiário/Informativo</p>
                    <p>Segmentação: Adulto</p>
                </div>

            </div>

        </div>
    </section>
    <!-- programação de tarde -->
    <section>
        <h2 class="title"> Tarde</h2>
        <hr class="border">
        <div class="content">

            <div class="container-timeline">
                <div class="content-timeline color2">
                    <h2> Super Tarde 93 </h2>
                    <p>Segunda á sexta-feira às 13h00 á 16h00</p>
                    <p>Locutor: Malú Monteiro</p>
                    <p>Estilo: TOP 40 Nacional e Internacional</p>
                    <p>Segmentação: Livre</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Tempo de Rodeio </h2>
                    <p>Segunda á sexta-feira às 16h00 á 19h00</p>
                    <p>Locutor: Italianinho</p>
                    <p>Estilo: Sertanejo</p>
                    <p>Segmentação: Livre</p>
                </div>


            </div>

        </div>
    </section>
    <!-- programação de noite -->
    <section>
        <h2 class="title"> Noite</h2>
        <hr class="border">
        <div class="content">
            <div class="container-timeline">
                <div class="content-timeline color2">
                    <h2> Sábado Aditivado </h2>
                    <p>Sábados às 21h00 á 00h00</p>
                    <p>Locutor: - </p>
                    <p>Estilo: Pop Nacional e Internacional</p>
                    <p>Segmentação: Livre</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Comitiva Canal Um </h2>
                    <p>Segunda á sexta-feira às 23h00 á 00h00</p>
                    <p>Locutor: Gaúcho Taquaritinga</p>
                    <p>Estilo: Sertanejo</p>
                    <p>Segmentação: Livre</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Canal Um - É Notícia (2º Edição)! </h2>
                    <p>Segunda á sexta-feira às 11h30 á 13h00</p>
                    <p>Locutor: Edson Cândido</p>
                    <p>Estilo: Notixiário/Informativo</p>
                    <p>Segmentação: Adulto</p>
                </div>

            </div>

        </div>
    </section>
    <!-- programação mais tarde da noite -->
    <section>
        <h2 class="title"> Madrugada</h2>
        <hr class="border">
        <div class="content">
            <div class="container-timeline">
                <div class="content-timeline color2">
                    <h2> Madrugada Canal Um </h2>
                    <p>Segunda á sábado às 00h00 á 04h00</p>
                    <p>Locutor: -</p>
                    <p>Estilo: R&B / Ballad / Clássicos</p>
                    <p>Segmentação: Livre</p>
                </div>
                <div class="content-timeline color2">
                    <h2> Sertanejo Bom Demais </h2>
                    <p>Segunda á sexta-feira às 04h00 á 07h00</p>
                    <p>Locutor: Nhô Miro</p>
                    <p>Estilo: Sertanejo</p>
                    <p>Segmentação: Livre</p>
                </div>


            </div>

        </div>
    </section>
</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


