<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<section id="single-item">
    <div id="carousel-images">
        <div class="carousel-images-div">
            <img src="img-carrossel/elei.jpg" alt="">
        </div>
        <div class="carousel-images-div">
            <img src="img-carrossel/Banner3 noticias.jpg" alt="">
        </div>
        <div class="carousel-images-div">
            <img src="img-carrossel/Banner4 baixe o app - com foto teste.jpg" alt="">
        </div>

    </div>
</section>

 <!-- NOTICIAS -->
 <main class="wrapper-section">
    <div class="content">

        <h2 class="title"> principais notícias</h2>
        <p class="blog-post-text">
        </p>
        <hr class="border" />
    </div>
</main>

<div class="noticia-slider">
    <img src="../../carouselIcons/arrowNext.svg" alt="" class="noticia-slider-prevBtn" id="noticia-slider-prevBtn-principaisNoticias">
    <img src="../../carouselIcons/arrowNext.svg" alt="" class="noticia-slider-nextBtn" id="noticia-slider-nextBtn-principaisNoticias">

    <div class="noticia-slider-noticias">
        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 5}">
            <div th:each="i : ${#numbers.sequence( 0, 5)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>

        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 11}">
            <div th:each="i : ${#numbers.sequence( 6, 11)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>

        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 18}">
            <div th:each="i : ${#numbers.sequence( 12, 18)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>
    </div>
</div>



<!--  -->

<section class="wrapper-section">
    <div class="content">

        <h2 class="title"> veja Mais</h2>
        <p class="blog-post-text">
        </p>
        <hr class="border" />
    </div>
</section>

<div class="noticia-slider">
    <img src="../../carouselIcons/arrowNext.svg" alt="" class="noticia-slider-prevBtn" id="noticia-slider-prevBtn-vejaMaisNoticias">
    <img src="../../carouselIcons/arrowNext.svg" alt="" class="noticia-slider-nextBtn" id="noticia-slider-nextBtn-vejaMaisNoticias">

    <div class="noticia-slider-noticias">
        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 5}">
            <div th:each="i : ${#numbers.sequence( 0, 5)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>

        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 11}">
            <div th:each="i : ${#numbers.sequence( 6, 11)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>

        <div class="noticia-slider-noticias-cards" th:if="${noticias.size() > 18}">
            <div th:each="i : ${#numbers.sequence( 12, 18)}" class="noticia-slider-card">
                <h3 class="noticia-slider-card-titulo" th:text="${noticias[i].titulo}"></h3>
    
                <p class="noticia-slider-card-texto" th:text="${noticias[i].texto}"></p>
            </div>
        </div>
    </div>
</div>


<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


