<!-- FOOTER -->
<footer class="page-footer blue darken-3 ">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Canal Um FM</h5>
                <p class="grey-text text-lighten-4">Tá na Canal Um, tá de bem com a vida!</p>
                <div class="icon-mobile">
                    <a href="https://www.facebook.com/canalumfm" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/canalum" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="canalum@canalum.fm.br" class="google"><i class="fa fa-google"></i></a>
                    <a href="https://www.facebook.com/canalumfm" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCbQIBUcBJX9AVKka1mFNo9Q" class="youtube"><i class="fa fa-youtube"></i></a>
                    <a href="https://web.whatsapp.com/" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                </div>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Onde estamos?</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#"></a>Av.Dr. Francisco Área Leão, 1200, Taquaritinga-SP. 15900-000</li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#"></a>Horário de funcionamento: 08:00-18:00</li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#"></a> Telefone: (16)3252-7293</li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#"></a>canalum.fm.br</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container">
            © 2020 Todos os direitos reservados
        </div>
    </div>



    <a id="zap" href="https://wa.me/55(aqui seu numero com ddd | tudo junto)?text=Adorei%20seu%20artigo" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
z-index:1000;" target="_blank">
        <i style="margin-top:16px" class="fa fa-whatsapp"></i>
    </a>
    <div class="icon-bar">
        <a href="https://www.facebook.com/canalumfm" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/canalum" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="canalum@canalum.fm.br" class="google"><i class="fa fa-google"></i></a>
        <a href="https://www.facebook.com/canalumfm" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCbQIBUcBJX9AVKka1mFNo9Q" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
</footer>
<!-- Scripts -->
<script src="https://kit.fontawesome.com/1060000e07.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="text/javascript" th:src="@{/js/functions.js}"></script>


<!-- Open social media -->
<script type="text/javascript" th:src="@{/js/openSocialMedia.js}"></script>


<!-- Slick js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Carousel -->
<script>
    $('#carousel-images').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1000,
        // fade: true,
    });
</script>

</body>

</html>