<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main class="background-banner-color">
    <section class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">A equipe</h2>
            <hr class="border" />
            <p class="description-text-banner">Conheça a equipe de locutores da Canal Um F.M! Profissionais totalmente apaixonados pela profissão, trazendo notícias, músicas e diversão para você todos os dias a todo o momento!
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo" src="img/microfone.png" alt="Microfone" />
        </div>
    </section>
</main>

<section class="services" title="Seção sobre a equipe da rádio">
    <div class="team" th:each="equipe : ${equipes}">
        <div class="service">
            <a href="#" class="team-person"><img th:src="${equipe.path}" alt=""></a>
            <h2 th:text="${equipe.name}"></h2>
            <p th:text="${equipe.funcao}"></p>
        </div>
    </div>
</section>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


