<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main class="background-banner-color">
    <section class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">A equipe</h2>
            <hr class="border" />
            <p class="description-text-banner">Conheça a equipe de locutores da Canal Um F.M! Profissionais totalmente apaixonados pela profissão, trazendo notícias, músicas e diversão para você todos os dias a todo o momento!
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo" src="img/microfone.png" alt="Microfone" />
        </div>
    </section>
</main>

<section class="services" title="Seção sobre a equipe da rádio">
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"> <img src="img/delcimarguissoni.jpg" alt=""></a>
            <h2>Delcimar Guissoni</h2>
            <p>Locutor</p>

        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"> <img src="img/edsoncandido.jpg" alt=""></a>
            <h2>edson candido</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"><img src="img/edsoncandido.jpg" alt=""></a>
            <h2>fabiano lima</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"><img src="img/gauchotaquaritinga.jpg" alt=""></a>
            <h2>gaúcho taquaritinga</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"> <img src="img/italianinho.jpg" alt=""></a>
            <h2>italianinho</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"> <img src="img/joselucenti.jpg" alt=""></a>
            <h2>josé lucenti</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"> <img src="img/malumonteiro.jpg" alt=""></a>
            <h2>Malu Monteiro</h2>
            <p>Locutor</p>
        </div>

    </div>
    <div class="team">
        <div class="service">
            <a href="#" class="team-person"><img src="img/nhomiro.jpg" alt=""></a>
            <h2>nhô miro</h2>
            <p>Locutor</p>
        </div>

    </div>
</section>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


