<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/programas">
        Voltar
    </a>

    <h1>
        Editar programa: <span th:text="${programa.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/programas/update/{id}(id=${programa.id})}" th:object="${programa}" method="post">
            <input type="text" th:field="*{name}" placeholder="Nome" minlength="3" maxlength="50" required>
           
            <select th:field="*{equipe}" id="">
                <option th:each="equipe : ${equipes}" th:if="${equipe.funcao == 'Locutor'}" th:value="${equipe.id}" th:text="${equipe.name}">
                </option>
                <option th:each="equipe : ${equipes}" th:if="${equipe.funcao == 'Locutor Noticialista'}" th:value="${equipe.id}" th:text="${equipe.name}">
                </option>
            </select>

            <input type="text" th:field="*{estilo}" placeholder="estilo" minlength="3" maxlength="50" required>

            <select th:field="*{horario}" id="" required>
                <option th:each="i : ${#numbers.sequence( 0, 9)}" th:text="'0' + ${i} + ':00'" th:value="'0' + ${i} + ':00'">
                </option>
                <option th:each="i : ${#numbers.sequence( 10, 23)}" th:text="${i} + ':00'" th:value="${i} + ':00'">
                </option>
            </select>

            <select th:field="*{periodo}" id="">
                <option value="Matutino">
                    Matutino
                </option>
                <option value="Vespertino">
                    Vespertino
                </option>
                <option value="Noturno">
                    Noturno
                </option>
                <option value="Madrugada">
                    Madrugada
                </option>
            </select>

            <select th:field="*{segmentacao}" id="">
                <option value="Live para todos os públicos">
                    Livre para todos os públicos
                </option>
                <option value="Adulto">
                    Adulto
                </option>
            </select>

            <button>
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>