<th:block th:insert="dashboard/components/header"></th:block>

<div class="page-content">
    <div class="row">
        <th:block th:insert="dashboard/components/navegacao"></th:block>

        <main>
            <h1>
                Programação
            </h1>

            <br>
            <br>
            <span id="alerta" th:text="${success}"></span>
            <br>
            <br>

            <div th:each="programa : ${programas}">
                <p>
                    Nome: <span th:text="${programa.name}"></span>
                </p>
                <p>
                    Estilo: <span th:text="${programa.estilo}"></span>
                </p>
                <p>
                    Perídodo: <span th:text="${programa.periodo}"></span>
                </p>
                <p>
                    Horário: <span th:text="${programa.horario}"></span>
                </p>
                <p>
                    Segmentação: <span th:text="${programa.segmentacao}"></span>
                </p>
                <p>
                    Locutor: <span th:text="${programa.equipe.name}"></span>
                </p>

                <br>

                <div>
                    <a th:href="@{/dashboard/programas/detalhes/{id}(id=${programa.id})}">
                        Detalhes
                    </a> &nbsp; &nbsp; &nbsp;

                    <a th:href="@{/dashboard/programas/editar/{id}(id=${programa.id})}">
                        Editar
                    </a> &nbsp; &nbsp; &nbsp;

                    <a th:href="@{/dashboard/programas/deletar/{id}(id=${programa.id})}">
                        Deletar
                    </a>
                </div>

                <br>
                <hr>
                <br>

            </div>

            <br>
            <br>

            <h1>
                Cadastrar
            </h1>

            <form action="/dashboard/programas/cadastrar" method="post">
                <input type="text" name="name" placeholder="Nome" minlength="3" maxlength="50" required>

                <select name="equipe_id" id="">
                        <option th:each="equipe : ${equipes}" th:if="${equipe.funcao == 'Locutor'}" th:value="${equipe.id}" th:text="${equipe.name}">
                        </option>
                        <option th:each="equipe : ${equipes}" th:if="${equipe.funcao == 'Locutor Noticialista'}" th:value="${equipe.id}" th:text="${equipe.name}">
                        </option>
                </select>

                <input type="text" name="estilo" placeholder="Estilo" minlength="3" maxlength="50" required>

                <select name="horario" id="" required>
                    <option th:each="i : ${#numbers.sequence( 0, 9)}" th:text="'0' + ${i} + ':00'" th:value="'0' + ${i} + ':00'">
                    </option>
                    <option th:each="i : ${#numbers.sequence( 10, 23)}" th:text="${i} + ':00'" th:value="${i} + ':00'">
                    </option>
                </select>

                <select name="periodo" id="" required>
                    <option value="Matutino">
                        Matutino
                    </option>
                    <option value="Vespertino">
                        Vespertino
                    </option>
                    <option value="Noturno">
                        Noturno
                    </option>
                    <option value="Madrugada">
                        Madrugada
                    </option>
                </select>

                <select name="segmentacao" id="">
                    <option value="Live para todos os públicos">
                        Livre para todos os públicos
                    </option>
                    <option value="Adulto">
                        Adulto
                    </option>
                </select>

                <button class="btn btn-primary">
                    Enviar
                </button>
            </form>

            <br>
        </main>

    </div>
</div>

<th:block th:insert="dashboard/components/footer"></th:block>