<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canal Um Fm - Login</title>
</head>
<body>
    
    <h1>
        LOGIN - DASHBOARD
    </h1>

    <form action="/dashboard/login/login" method="POST">
        <input type="submit" value="logar">
    </form>

    <span th:text="${name}">
        <br>
    </span>
    
    <br>

    <span th:each="adm : ${administradores}">
        <span th:text="${adm.name}"></span>
        <br>
    </span>

</body>
</html>