/* Página index */
#index-noticia{
    display: flex;
    flex-direction: row;
}
#index-noticia .noticia-slider-card{
    width: 30%;
}

/* Páginas notícias */
.noticia-slider{
    display: flex;

    position: relative;
}



/* Botões */
.noticia-slider-prevBtn,
.noticia-slider-nextBtn{
    width: 40px;

    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.noticia-slider-prevBtn{
    left: 0;
}
.noticia-slider-nextBtn{
    right: 0;
}




/* Noticias */
.noticia-slider-noticias{
    width: 100%;
    height: 100%;

    display: flex;

    transition: transform 0.25s;
}



/* Cards */
.noticia-slider-noticias-cards{
    max-width: 100%;
    min-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.noticia-slider-card{
    min-width: 200px;
    max-width: 350px;

    text-align: center;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    transition: all 0.25s;
}
.noticia-slider-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Header */
.noticia-slider-card-header{
    width: 100%;
    height: 100px;

    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/* Content */
.noticia-slider-card-content{
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 20px;
}
/* Titulo */
.noticia-slider-card-titulo{
    font-size: 25px;
    font-weight: bold;
}
/* Texto */
.noticia-slider-card-texto{
    font-size: 18px;
}

/* Button */
.noticia-slider-card-button{
}




@media (max-width: 1000px){
    #index-noticia{
        flex-wrap: wrap;
    }
    #index-noticia .noticia-slider-card{
        width: 300px;

        margin: 0 20px;
        margin-bottom: 30px;
    }
}