<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/autores">
        Voltar
    </a>

    <h1>
        Editar autor: <span th:text="${autor.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/autores/update/{id}(id=${autor.id})}" th:object="${autor}" method="POST">
            <input type="text" th:field="*{equipe.id}" placeholder="Nome" disabled>
        
            <select name="equipe_id" id="" required>
                <option th:each="equipe : ${equipes}" th:value="${equipe.id}" th:text="${equipe.name}">
                </option>
            </select>
        
            <button>
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>