<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<main class="wrapper-section">
    <div class="content" title="Contato">
        <h2 class="title">Contato</h2>
        <hr class="border" />


        <div class="row">
            <form action="/contato/cadastrar" method="post">
                <input type="text" placeholder="Nome" name="name" class="nome" required minlength="3" maxlength="50"/>
                <input type="email" placeholder="E-mail" name="email" class="email" required/>
                <textarea name="message" class="nome" cols="30" rows="10" placeholder="Mensagem" required minlength="10" maxlength="500"></textarea>
                <input type="text" placeholder="Telefone" name="phone" class="email" minlength="11" maxlength="13" required/>

                <button class="" type="submit">Enviar</button>
            </form>

            <!-- Validation message -->
            <span th:text="${error}">
            </span>
            <span th:text="${success}">
            </span>
        </div>
    </div>
    <div class="wrapper-div">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.476856605872!2d-48.48757648458687!3d-21.410493885792885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b93956dba40e07%3A0x6dece4ec51c39eab!2sR%C3%A1dio%20Canal%20Um%20FM!5e0!3m2!1spt-BR!2sbr!4v1601582442054!5m2!1spt-BR!2sbr"
            class="photo" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

</main>

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


