<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<section class="background-banner-color">
    <div class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">TOP 20</h2>
            <hr class="border" />
            <p class="description-text-banner">
                Conheça nossa lista com as 20 músicas mais pedidas durante um mês pelos ouvintes da Canal Um F.M! Converse com a gente da! peça músicas, relate problemas, participe da programação e concorra prêmios! áudio ou texto? tanto faz! sinta-se a vontade para
                mandar um whatsapp para a Canal! nosso número é: (16)99345-6789.
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo-jpgpr" src="img/listenman.png" alt="Homem escutando música" />
        </div>
    </div>
</section>

<main class="wrapper-section">

        <section>
            <h2 class="title"> Sertanejo Universitário</h2>
            <hr class="border">
            <div class="content">

                <div class="container-timeline">
                    <div class="content-timeline color2">
                        <h2> #1 Cem mil </h2>
                        <p>Gusttavo Lima</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #2 Igual ela só uma </h2>
                        <p>Wesley Safadão</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #3 Bebaça </h2>
                        <p>Marília Mendonça</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #4 Tijolão </h2>
                        <p>Jorge e Matheus</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #5 Cara Feio </h2>
                        <p>Fernando & Sorocaba</p>

                    </div>

                </div>

            </div>
        </section>
        <!-- programação de tarde -->
        <section>
            <h2 class="title"> Internacional</h2>
            <hr class="border">
            <div class="content">

                <div class="container-timeline">
                    <div class="content-timeline color1">
                        <h2>#1 Midnight Sky </h2>
                        <p>Miley Cyrus</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #2 No Time to Die</h2>
                        <p>Billie Elish</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #3 Hallucinate</h2>
                        <p>Dua Lipa</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #4 In your eyes </h2>
                        <p>The Weeknd</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #5 Animal </h2>
                        <p> Aurora</p>

                    </div>


                </div>

            </div>
        </section>
        <!-- programação de noite -->
        <section>
            <h2 class="title"> Nacional</h2>
            <hr class="border">
            <div class="content">
                <div class="container-timeline">
                    <div class="content-timeline color1">
                        <h2> #1 Mulher do Fim do Mundo </h2>
                        <p>Elza Soares</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #2 Rajadão </h2>
                        <p>Pabllo Vittar</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #3 Me Gusta </h2>
                        <p>Anitta feat. Cardi B.</p>

                    </div>

                    <div class="content-timeline color1">
                        <h2>#4 Flores </h2>
                        <p>Luiza Sonza feat. Vitão</p>

                    </div>
                    <div class="content-timeline color1">
                        <h2> #5 Diaba </h2>
                        <p>Urias</p>

                    </div>

                </div>

            </div>
        </section>
        <!-- programação mais tarde da noite -->
        <section>
            <h2 class="title">Pagode/Samba </h2>
            <hr class="border">
            <div class="content">
                <div class="container-timeline">
                    <div class="content-timeline color2">
                        <h2> #1 Ébano </h2>
                        <p>Alcione</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #2 Mulher Traída </h2>
                        <p>Grupo Revelação</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2>#3 Amiga da minha mulher </h2>
                        <p>Seu Jorge</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2> #4 Até que durou </h2>
                        <p>Péricles</p>

                    </div>
                    <div class="content-timeline color2">
                        <h2>#5 Madureira </h2>
                        <p> Arlindo Cruz</p>

                    </div>

                </div>

            </div>
        </section>
    </main> 

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


