<!-- Include header -->
<th:block th:insert="pages/components/header"></th:block>

<section class="background-banner-color">
    <div class="wrapper-section">
        <div class="content" title="Texto sobre a rádio">
            <h2 class="title-banner">TOP 20</h2>
            <hr class="border" />
            <p class="description-text-banner">
                Conheça nossa lista com as 20 músicas mais pedidas durante um mês pelos ouvintes da Canal Um F.M! Converse com a gente da! peça músicas, relate problemas, participe da programação e concorra prêmios! áudio ou texto? tanto faz! sinta-se a vontade para
                mandar um whatsapp para a Canal! nosso número é: (16)99345-6789.
            </p>

        </div>
        <div class="wrapper-div">
            <img class="photo-jpgpr" src="img/listenman.png" alt="Homem escutando música" />
        </div>
    </div>
</section>

<main class="wrapper-section">

        <section>
            <h2 class="title"> Sertanejo Universitário</h2>
            <hr class="border">
            <div class="content">

                <div class="container-timeline">
                    <div th:each="top20 : ${top20s}" th:switch="${top20.musica.artista.estilo}">
                        <div th:case="'Sertanejo Universitário'" class="content-timeline color2">
                            <div>
                                <h2 th:text="${top20.musica.name}"></h2>
                                <p th:text="${top20.musica.artista.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- programação de tarde -->
        <section>
            <h2 class="title"> Internacional</h2>
            <hr class="border">
            <div class="content">

                <div class="container-timeline">
                    <div th:each="top20 : ${top20s}" th:switch="${top20.musica.artista.estilo}">
                        <div th:case="'Internacional'" class="content-timeline color1">
                            <h2 th:text="${top20.musica.name}"></h2>
                            <p th:text="${top20.musica.artista.name}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- programação de noite -->
        <section>
            <h2 class="title"> Nacional</h2>
            <hr class="border">
            <div class="content">
                <div class="container-timeline">
                    <div th:each="top20 : ${top20s}" th:switch="${top20.musica.artista.estilo}">
                        <div th:case="'Nacional'" class="content-timeline color1">
                            <h2 th:text="${top20.musica.name}"></h2>
                            <p th:text="${top20.musica.artista.name}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- programação mais tarde da noite -->
        <section>
            <h2 class="title">Pagode/Samba </h2>
            <hr class="border">
            <div class="content">
                <div class="container-timeline">
                    <div th:each="top20 : ${top20s}" th:switch="${top20.musica.artista.estilo}">
                        <div th:case="'Pagode/Samba'" class="content-timeline color2">
                            <h2 th:text="${top20.musica.name}"></h2>
                            <p th:text="${top20.musica.artista.name}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main> 

<!-- Include footer -->
<th:block th:insert="pages/components/footer"></th:block>


