<!-- <th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/contato">
        Voltar
    </a>

    <h1>
        Editar pedido: <span th:text="${contato.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/contato/editar/{id}(id=${contato.id})}" th:object="${contato}" method="POST">
            <input type="text" th:field="*{name}" placeholder="Nome" minlength="3" maxlength="50" required>
            <input type="text" th:field="*{email}" placeholder="E-mail">
            <input type="text" th:field="*{phone}" placeholder="Telefone" minlength="11" maxlength="13" required>
            <input type="text" th:field="*{message}" placeholder="Mensagem" minlength="10" maxlength="300" required>
        
            <button>
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block> -->