<span th:switch="${verificarLogin}">
    <span th:case="'logado'" id="body">
        <th:block th:insert="dashboard/components/header"></th:block>
        
        <main>
            <h1>
                Pedidos de música
            </h1>
        
            <br>
            <br>
            <span id="alerta" th:text="${success}"></span>
            <br>
            <br>
        
            <div th:each="pedirMusica : ${pedirMusicas}">
                <p>
                    Nome: <span th:text="${pedirMusica.name}"></span>
                </p>
                <p>
                    Email: <span th:text="${pedirMusica.city}"></span>
                </p>
                <p>
                    Mensagem: <span th:text="${pedirMusica.music}"></span>
                </p>
                <p>
                    Telefone: <span th:text="${pedirMusica.message}"></span>
                </p>
        
                <br>
        
                <div>
                    <a th:href="@{/dashboard/pedir-musica/detalhes/{id}(id=${pedirMusica.id})}">
                        Detalhes
                    </a>
        
                    &nbsp;
                    &nbsp;
                    &nbsp;
        
                    <a th:href="@{/dashboard/pedir-musica/deletar/{id}(id=${pedirMusica.id})}">
                        Deletar
                    </a>
                </div>
        
                <br>
                <br>
                <br>
            </div>
        </main>
        
        <th:block th:insert="dashboard/components/footer"></th:block>
    </span>
    <span th:case="*">
        Não logado
    </span>
</span>