<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/noticias">
        Voltar
    </a>

    <h1>
        Editar noticia: <span th:text="${noticia.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/noticias/update/{id}(id=${noticia.id})}" th:object="${noticia}" method="POST" enctype="multipart/form-data">
            <input type="text" th:field="*{titulo}" minlength="3" maxlength="50" required>
            <textarea th:field="*{texto}" id="" cols="30" rows="10" minlength="30" maxlength="2980" required></textarea>
            <select th:field="*{autor}" id="">
                <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.equipe.name}" ></option>
            </select>

            <br>
            <br>
            <br>
            <img th:src="*{path}" alt="" height="100px"> Escolher outra imagem ?
            <input type="file" id="imageFile" name="imageFile">
            <br>
            <input type="text" th:field="*{path}" hidden>

            <button class="btn btn-success">
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>