<span th:switch="${verificarLogin}">
    <span th:case="'logado'" id="body">
        <th:block th:insert="dashboard/components/header"></th:block>
        
        <main>
            <h1>
                Notícia
            </h1>
        
            <br>
            <br>
            <span id="alerta" th:text="${success}"></span>
            <br>
            <br>
        
            <div th:each="noticia : ${noticias}">
                <p>
                    Título: <span th:text="${noticia.titulo}"></span>
                </p>
                <p>
                    Data: <span th:text="${noticia.data}"></span>
                </p>
                <p>
                    Banner:
                    <br>
                    <img th:src="${noticia.path}" alt="" height="50px">
                </p>
                <p class="dashNoticiaTexto">
                    Texto: <span th:text="${noticia.texto}"></span>
                </p>
                <p>
                    Autor: <span th:text="${noticia.autor.name}"></span>
                </p>
        
                <br>
        
                <div>
                    <a th:href="@{/dashboard/noticias/detalhes/{id}(id=${noticia.id})}">
                        Detalhes
                    </a>
        
                    &nbsp;
                    &nbsp;
                    &nbsp;
        
                    <a th:href="@{/dashboard/noticias/editar/{id}(id=${noticia.id})}">
                        Editar
                    </a>
        
                    &nbsp;
                    &nbsp;
                    &nbsp;
        
                    <a th:href="@{/dashboard/noticias/deletar/{id}(id=${noticia.id})}">
                        Deletar
                    </a>
                </div>
        
                <br>
                <hr>
                <br>
            </div>
        
            <br>
            <br>
            <br>
        
            <h1>
                Cadastrar
            </h1>
        
            <form action="/dashboard/noticias/cadastrar" method="post" enctype="multipart/form-data">
                <input type="text" name="titulo" placeholder="Título" minlength="3" maxlength="50" required>
                <textarea name="texto" id="" cols="30" rows="10" minlength="30" maxlength="3000"  required></textarea>
                <input type="file" id="imageFile" name="imageFile" required>
                <select name="autor_id" id="" required>
                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.equipe.name}"></option>
                </select>
        
                <button>
                    Enviar
                </button>
            </form>
        
            <br>
        </main>
        
        <th:block th:insert="dashboard/components/footer"></th:block>
        <script th:src="@{/js/limiteCaracteres.js}"></script>
    </span>
    <span th:case="*">
        Não logado
    </span>
</span>