<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/top20">
        Voltar
    </a>

    <h1>
        Editar musica do top20: <span th:text="${top20.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/top20/update/{id}(id=${top20.id})}" th:object="${top20}" method="POST">
            Musica cadastrada: <input type="text" th:field="*{id}" disabled>
            <br>
            
            Selecione a mesma ou cadastre outra
            <select name="musica_id" id="">
                <option th:each="musica : ${musicas}" th:value="${musica.id}" th:text="${musica.name}"></option>
            </select>

            <button>
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>