<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/musicas">
        Voltar
    </a>

    <h1>
        Editar musica: <span th:text="${musica.id}"></span>
    </h1>

    <div>
        <form th:action="@{/dashboard/musicas/update/{id}(id=${musica.id})}" th:object="${musica}" method="POST">
            <input type="text" th:field="*{name}" minlength="3" maxlength="50" required>
            <input type="text" th:field="*{top20}" hidden>

            <select th:field="*{artista.id}" id="">
                <option th:each="artista : ${artistas}" th:value="${artista.id}" th:text="${artista.name}">
                </option>
            </select>
            <button class="btn btn-success">
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>