<th:block th:insert="dashboard/components/header"></th:block>

<main>
    <a href="/dashboard/equipe">
        Voltar
    </a>


    <h1>
        Editar membro da equipe: <span th:text="${equipe.id}"></span>
    </h1>

    <br>
    <br>
    <span id="alerta" th:text="${error}"></span>
    <br>
    <br>

    <div>
        <form th:action="@{/dashboard/equipe/update/{id}(id=${equipe.id})}" th:object="${equipe}" method="POST" enctype="multipart/form-data">
            <input type="text" th:field="*{name}" minlength="3" maxlength="50" required>
            <input type="text" th:field="*{funcao_autor}" minlength="3" maxlength="50" required hidden>

            <br>
            <br>
            <br>

            <img th:src="*{path}" alt="" width="50px">
            <input type="text" th:field="*{path}" hidden>
            <input type="file" id="imageFile" name="imageFile">

            <br>
            <br>
            <br>

            <select th:field="*{funcao}" id="" required>
                <option value="Locutor">
                    Locutor
                </option>
                <option value="Locutor Noticialista">
                    Locutor Noticialista
                </option>
                <option value="Repórter">
                    Repórter
                </option>
            </select>

            <button class="btn btn-success">
                Enviar
            </button>
        </form>
    </div>
</main>

<th:block th:insert="dashboard/components/footer"></th:block>