<th:block th:insert="dashboard/components/header"></th:block>

<div class="page-content">
    <div class="row">
        <th:block th:insert="dashboard/components/navegacao"></th:block>

        <main>
            <div class="">
                <h1>
                    Equipe
                </h1>

                <button>
                    Adicionar membro
                </button>
            </div>

            <br>
            <span id="alerta" th:text="${success}"></span>
            <br>

            <!-- Table -->
            <div th:each="equipe : ${equipes}">
                <p>
                    Nome: <span th:text="${equipe.name}"></span>
                </p>
                <p>
                    Função: <span th:text="${equipe.funcao}"></span>
                </p>
                <p>
                    Imagem:
                    <br>
                    <img th:src="${equipe.path}" alt="" height="50px">
                </p>

                <br>

                <div>
                    <a th:href="@{/dashboard/equipe/detalhes/{id}(id=${equipe.id})}">
                        Detalhes
                    </a>

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    <a th:href="@{/dashboard/equipe/editar/{id}(id=${equipe.id})}">
                        Editar
                    </a>

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    <a th:href="@{/dashboard/equipe/deletar/{id}(id=${equipe.id})}">
                        Deletar
                    </a>
                </div>

                <br>
                <hr>
                <br>
            </div>

            <br>
            <br>
            <br>

            <h1>
                Cadastrar
            </h1>

            <form action="/dashboard/equipe/cadastrar" method="post" enctype="multipart/form-data" class="form">
                <input type="text" name="name" placeholder="Nome" minlength="3" maxlength="50" required>
                <input type="file" id="imageFile" name="imageFile" class="input-file">

                <select name="funcao" id="" required>
                    <option value="Locutor">
                        Locutor
                    </option>
                    <option value="Locutor Noticialista">
                        Locutor Noticialista
                    </option>
                    <option value="Repórter">
                        Repórter
                    </option>
                </select>   

                <button class="btn btn-primary">
                    Enviar
                </button>
            </form>

            <br>
        </main>

    </div>
</div>
<th:block th:insert="dashboard/components/footer"></th:block>